/.git
docker-compose.yml
Dockerfile
.phpunit.result.cache
/.buildpath
/.idea
/.project
/.vagrant
/.vscode
/node_modules
/public/build
/public/storage
/storage/*.key
/storage/logs/*
/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper*
